aiohttp==3.8.5
aiosignal==1.3.1
annotated-types==0.5.0
anyio==3.7.1
astor==0.8.1
async-timeout==4.0.3
attrdict==2.0.1
attrs==21.2.0
Babel==2.12.1
bce-python-sdk==0.8.90
beautifulsoup4==4.12.2
blinker==1.6.2
cachetools==5.3.1
ceph==1.0.0
cephfs==2.0.0
certifi==2020.6.20
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.2.0
click==8.1.7
cloud-init==23.2.2
colorama==0.4.4
colorlog==6.7.0
command-not-found==0.3
configobj==5.0.6
contourpy==1.1.0
cryptography==41.0.3
cssselect==1.2.0
cssutils==2.7.1
cycler==0.11.0
Cython==3.0.2
datasets==2.14.5
datasketch==1.6.3
dbus-python==1.2.18
decorator==5.1.1
dill==0.3.4
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.1
et-xmlfile==1.1.0
exceptiongroup==1.1.3
faiss-cpu==1.7.2
fast-tokenizer-python==1.0.2
fastapi==0.103.1
filelock==3.6.0
fire==0.5.0
Flask==2.3.3
Flask-Babel==2.0.0
fonttools==4.42.1
frozenlist==1.4.0
fsspec==2023.6.0
future==0.18.3
gpg==1.16.0
h11==0.14.0
httplib2==0.20.2
huggingface-hub==0.17.1
idna==3.3
imageio==2.31.3
imgaug==0.4.0
importlib-metadata==4.6.4
itsdangerous==2.1.2
jeepney==0.7.1
jieba==0.42.1
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
keyring==23.5.0
kiwisolver==1.4.5
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.3
lmdb==1.4.1
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.3
mdurl==0.1.2
more-itertools==8.10.0
multidict==6.0.4
multiprocess==0.70.12.2
netifaces==0.11.0
networkx==3.1
nltk==3.8.1
numpy==1.25.2
oauthlib==3.2.0
olefile==0.46
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
openpyxl==3.1.2
openslide-python==1.1.2
opt-einsum==3.3.0
packaging==23.1
paddle-bfloat==0.1.7
paddle2onnx==1.0.9
paddlefsl==1.1.0
paddlenlp==2.5.2
paddleocr==2.7.0.2
paddlepaddle-gpu==2.4.2
pandas==2.1.0
pbr==5.8.0
pdf2docx==0.5.6
pdfminer.six==20221105
pdfplumber==0.10.2
Pillow==10.0.0
platformdirs==2.5.1
premailer==3.10.0
prettytable==2.5.0
protobuf==3.20.0
psutil==5.9.5
pyarrow==13.0.0
pyclipper==1.3.0.post5
pycparser==2.21
pycryptodome==3.18.0
pydantic==2.3.0
pydantic_core==2.6.3
Pygments==2.16.1
PyGObject==3.42.1
pyinotify==0.9.6
PyJWT==2.3.0
PyMuPDF==1.20.2
pyOpenSSL==21.0.0
pyparsing==2.4.7
pypdfium2==4.20.0
pyrsistent==0.18.1
pyserial==3.5
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.2
python-docx==0.8.11
pytz==2023.3.post1
PyWavelets==1.4.1
PyYAML==5.4.1
rados==2.0.0
rapidfuzz==3.3.0
rarfile==4.0
rbd==2.0.0
regex==2023.8.8
requests==2.25.1
rich==13.5.2
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.2
SecretStorage==3.3.1
sentencepiece==0.1.99
seqeval==1.2.2
shapely==2.0.1
simplejson==3.17.6
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
ssh-import-id==5.11
starlette==0.27.0
stevedore==3.5.0
systemd-python==234
termcolor==2.3.0
threadpoolctl==3.2.0
tifffile==2023.8.30
tqdm==4.66.1
typer==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
urllib3==1.26.5
uvicorn==0.23.2
virtualenv==20.13.0+ds
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.4
visualdl==2.4.2
wadllib==1.3.6
wcwidth==0.2.5
Werkzeug==2.3.7
xkit==0.0.0
xxhash==3.3.0
yarl==1.9.2
zipp==1.0.0
